<mat-nav-list *ngIf="userService.isUser()">
  <a mat-list-item routerLink="">
    <img matListAvatar src="assets/svg/dashboard.svg" alt="">
    <span mat-line>
      <span class="neutral-08 sidenav-list-text">Dashboard</span>
    </span>
  </a>
  <a mat-list-item routerLink="">
    <img matListAvatar src="assets/svg/add-to-list.svg" alt="">
    <span mat-line>
      <span class="neutral-08 sidenav-list-text">จัดการโครงการ</span>
    </span>
  </a>
  <a mat-list-item routerLink="">
    <img matListAvatar src="assets/svg/chart.svg" alt="">
    <span mat-line>
      <span class="neutral-08 sidenav-list-text">รายละเอียดโครงการ</span>
    </span>
  </a>
  <a mat-list-item routerLink="">
    <img matListAvatar src="assets/svg/control-centre.svg" alt="">
    <span mat-line>
      <span class="neutral-08 sidenav-list-text">จัดการผู้ใช้</span>
    </span>
  </a>


  <div class="d-flex flex-column sidenav-list-bottom">
    <a mat-list-item routerLink="">
      <img matListAvatar src="assets/svg/Iconsettings.svg" alt="">
      <span mat-line>
        <span class="neutral-08 sidenav-list-text">ตั้งค่า</span>
      </span>
    </a>
    <a mat-list-item routerLink="">
      <img matListAvatar src="assets/svg/entrance.svg" alt="">
      <span mat-line>
        <span class="neutral-08 sidenav-list-text">ออกจากระบบ</span>
      </span>
    </a>
  </div>

</mat-nav-list>


<mat-nav-list *ngIf="userService.isGuest()">
  <a mat-list-item routerLink="">
    <img matListAvatar src="assets/svg/sticker.svg" alt="">
    <span mat-line>
      <span class="sidenav-list-text primary-400">บริหาร/จัดการสัญญา</span>
    </span>
  </a>


  <div class="d-flex flex-column sidenav-list-bottom">
    <a mat-list-item routerLink="">
      <img matListAvatar src="assets/svg/Iconsettings.svg" alt="">
      <span mat-line>
        <span class="neutral-08 sidenav-list-text">ตั้งค่า</span>
      </span>
    </a>
    <a mat-list-item routerLink="">
      <img matListAvatar src="assets/svg/entrance.svg" alt="">
      <span mat-line>
        <span class="neutral-08 sidenav-list-text">ออกจากระบบ</span>
      </span>
    </a>
  </div>

</mat-nav-list>


<mat-nav-list *ngIf="userService.isAdmin()">
  <a mat-list-item routerLink="">
    <img matListAvatar src="assets/svg/dashboard.svg" alt="">
    <span mat-line>
      <span class="neutral-08 sidenav-list-text">Dashboard</span>
    </span>
  </a>
  <a mat-list-item routerLink="">
    <img matListAvatar src="assets/svg/add-to-list.svg" alt="">
    <span mat-line>
      <span class="neutral-08 sidenav-list-text">จัดการโครงการ</span>
    </span>
  </a>
  <a mat-list-item routerLink="">
    <img matListAvatar src="assets/svg/chart.svg" alt="">
    <span mat-line>
      <span class="neutral-08 sidenav-list-text">รายละเอียดโครงการ</span>
    </span>
  </a>


  <div class="d-flex flex-column sidenav-list-bottom">
    <a mat-list-item routerLink="">
      <img matListAvatar src="assets/svg/Iconsettings.svg" alt="">
      <span mat-line>
        <span class="neutral-08 sidenav-list-text">ตั้งค่า</span>
      </span>
    </a>
    <a mat-list-item routerLink="">
      <img matListAvatar src="assets/svg/entrance.svg" alt="">
      <span mat-line>
        <span class="neutral-08 sidenav-list-text">ออกจากระบบ</span>
      </span>
    </a>
  </div>

</mat-nav-list>
