<div class="grid">
    <div class="col-12">
        <div>
            <h3>ตรวจสอบมาตรฐานงานก่อสร้าง</h3>
        </div>
        <div>
            <span class="block text-600 font-medium text-lg mb-3">
                ตรวจสอบมาตรฐาน > เพิ่มงานก่อสร้าง
            </span>
        </div>

        <div class="card">
            <form [formGroup]="jobFormGroup" (ngSubmit)="onSubmit()">
                <h5>รายละเอียดงานก่อสร้าง</h5>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12 md:col-6">
                        <label htmlFor="jobname">ชื่องาน</label>
                        <input
                            pInputText
                            id="jobname"
                            type="text"
                            formControlName="jobName"
                            required
                        />
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.jobName.touched ) && (jobFormControl.jobName.errors?.['required'] || jobFormControl.jobName.invalid)"
                        >
                            กรุณาระบุ ชื่องาน
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="wbs">หมายเลข WBS</label>
                        <input
                            pInputText
                            id="wbs"
                            type="text"
                            formControlName="wbs"
                            required
                        />
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.wbs.touched ) && (jobFormControl.wbs.errors?.['required'] || jobFormControl.wbs.invalid )"
                        >
                            กรุณาระบุ หมายเลข WBS
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="subDistrict">ตำบล</label>
                        <input
                            pInputText
                            id="subDistrict"
                            type="text"
                            formControlName="subDistrict"
                            required
                        />
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.subDistrict.touched ) && (jobFormControl.subDistrict.errors?.['required'] || jobFormControl.subDistrict.invalid )"
                        >
                            กรุณาระบุ ตำบล
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="district">อำเภอ</label>
                        <input
                            pInputText
                            id="district"
                            type="text"
                            formControlName="district"
                            required
                        />
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.district.touched ) && (jobFormControl.district.errors?.['required'] || jobFormControl.district.invalid )"
                        >
                            กรุณาระบุ อำเภอ
                        </span>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="latitude"> ละติจูด </label>
                        <p-inputNumber
                            formControlName="latitude"
                            mode="decimal"
                            placeholder="0.00000000"
                            [minFractionDigits]="8"
                            [maxFractionDigits]="15"
                        ></p-inputNumber>
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.latitude.touched ) && (jobFormControl.latitude.errors?.['required'] || jobFormControl.latitude.invalid )"
                        >
                            กรุณาระบุ ละติจูด
                        </span>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="longtitude"> ลองติจูด</label>
                        <p-inputNumber
                            formControlName="longtitude"
                            mode="decimal"
                            placeholder="0.00000000"
                            [minFractionDigits]="8"
                            [maxFractionDigits]="15"
                        ></p-inputNumber>
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.longtitude.touched ) && (jobFormControl.longtitude.errors?.['required'] || jobFormControl.longtitude.invalid )"
                        >
                            กรุณาระบุ ลองติจูด
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="planNo">หมายเลขผังงาน</label>
                        <input
                            pInputText
                            id="planNo"
                            type="text"
                            formControlName="planNo"
                        />
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.planNo.touched ) && (jobFormControl.planNo.errors?.['required'] || jobFormControl.planNo.invalid )"
                        >
                            กรุณาระบุ หมายเลขผังงาน
                        </span>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="documentNo">หมายเลขหนังสือ</label>
                        <input
                            pInputText
                            id="documentNo"
                            type="text"
                            formControlName="documentNo"
                        />
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.documentNo.touched ) && (jobFormControl.documentNo.errors?.['required'] || jobFormControl.documentNo.invalid )"
                        >
                            กรุณาระบุ หมายเลขหนังสือ
                        </span>
                    </div>
                    <div class="field col-12 md:col-3">
                        <label htmlFor="documentEstDate">วันที่อนุมัติ</label>
                        <p-calendar
                            id="documentEstDate"
                            formControlName="documentEstDate"
                            dateFormat="dd/mm/yy"
                        >
                        </p-calendar>
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.documentEstDate.touched ) && (jobFormControl.documentEstDate.errors?.['required'] || jobFormControl.documentEstDate.invalid )"
                        >
                            กรุณาระบุ วันที่อนุมัติ
                        </span>
                    </div>
                    <div class="field col-12 md:col-6">
                        <label htmlFor="manageOffice">รหัสการไฟฟ้า</label>
                        <input
                            pInputText
                            id="manageOffice"
                            type="text"
                            formControlName="manageOffice"
                        />
                        <span
                            class="text-red-500"
                            *ngIf="(jobFormControl.manageOffice.touched ) && (jobFormControl.manageOffice.errors?.['required'] || jobFormControl.manageOffice.invalid )"
                        >
                            กรุณาระบุ รหัสการไฟฟ้า
                        </span>
                    </div>
                </div>
                <h5>ช่างผู้ควบคุมงาน</h5>
                <ng-container formGroupName="supervisor">
                    <div class="p-fluid p-formgrid grid">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="supervisorId">
                                รหัสพนักงานชื่อผู้ควบคุมงาน
                            </label>
                            <p-inputNumber
                                formControlName="employeeId"
                                [useGrouping]="false"
                                [format]="false"
                                (onInput)="
                                    onEmployeeIdInput(
                                        $event.value,
                                        'supervisor'
                                    )
                                "
                                (onClear)="onClearEmployee('supervisor')"
                                [showClear]="true"
                                [maxlength]="6"
                            ></p-inputNumber>
                            <span
                                *ngIf="searchEmployeeError.supervisor"
                                class="text-red-500"
                            >
                                กรุณาระบุ รหัสพนักงาน ช่างผู้ควบคุมงาน
                            </span>
                        </div>

                        <div class="field col-12 md:col-4">
                            <label htmlFor="supervisorFirstName">
                                ชื่อ - สกุล
                            </label>
                            <input
                                pInputText
                                id="supervisorFirstName"
                                type="text"
                                formControlName="fullName"
                                readonly
                            />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="supervisorPos">ตำแหน่ง</label>
                            <input
                                pInputText
                                id="supervisorPos"
                                type="text"
                                formControlName="position"
                                readonly
                            />
                        </div>
                    </div>
                </ng-container>
                <h5>กรรมการ</h5>
                <div class="p-fluid p-formgrid grid">
                    <ng-container formGroupName="chairman">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="chairmanCommiteeId">
                                รหัสพนักงานประธานกรรมการ
                            </label>
                            <p-inputNumber
                                formControlName="employeeId"
                                [useGrouping]="false"
                                [format]="false"
                                (onInput)="
                                    onEmployeeIdInput($event.value, 'chairman')
                                "
                                (onClear)="onClearEmployee('chairman')"
                                [showClear]="true"
                                [maxlength]="6"
                            ></p-inputNumber>
                            <span
                                *ngIf="searchEmployeeError.chairman"
                                class="text-red-500"
                            >
                                กรุณาระบุ รหัสพนักงานประธานกรรมการ
                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="chairmanCommiteeFirstName">
                                ชื่อ - สกุล
                            </label>
                            <input
                                pInputText
                                id="chairmanCommiteeFirstName"
                                type="text"
                                formControlName="fullName"
                                readonly
                            />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="chairmanCommiteePos">ตำแหน่ง</label>
                            <input
                                pInputText
                                id="chairmanCommiteePos"
                                type="text"
                                formControlName="position"
                                readonly
                            />
                        </div>
                    </ng-container>
                    <ng-container formGroupName="firstCommittee">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstCommiteeId">
                                รหัสพนักงานกรรมการ
                            </label>
                            <p-inputNumber
                                formControlName="employeeId"
                                [useGrouping]="false"
                                [format]="false"
                                (onInput)="
                                    onEmployeeIdInput(
                                        $event.value,
                                        'firstCommittee'
                                    )
                                "
                                (onClear)="onClearEmployee('firstCommittee')"
                                [showClear]="true"
                                [maxlength]="6"
                            ></p-inputNumber>
                            <span
                                *ngIf="searchEmployeeError.firstCommittee"
                                class="text-red-500"
                            >
                                กรุณาระบุ รหัสพนักงานกรรมการ
                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstCommiteeFirstName">
                                ชื่อ - สกุล
                            </label>
                            <input
                                pInputText
                                id="firstCommiteeFirstName"
                                type="text"
                                formControlName="fullName"
                                readonly
                            />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="firstCommiteePos">ตำแหน่ง</label>
                            <input
                                pInputText
                                id="firstCommiteePos"
                                type="text"
                                formControlName="position"
                                readonly
                            />
                        </div>
                    </ng-container>
                    <ng-container formGroupName="secondCommittee">
                        <div class="field col-12 md:col-4">
                            <label htmlFor="secondCommiteeId">
                                รหัสพนักงานกรรมการ
                            </label>
                            <p-inputNumber
                                formControlName="employeeId"
                                [useGrouping]="false"
                                [format]="false"
                                (onInput)="
                                    onEmployeeIdInput(
                                        $event.value,
                                        'secondCommittee'
                                    )
                                "
                                (onClear)="onClearEmployee('secondCommittee')"
                                [showClear]="true"
                                [maxlength]="6"
                            ></p-inputNumber>
                            <span
                                *ngIf="searchEmployeeError.secondCommittee"
                                class="text-red-500"
                            >
                                กรุณาระบุ รหัสพนักงานกรรมการ
                            </span>
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="secondCommiteeFirstName">
                                ชื่อ - สกุล
                            </label>
                            <input
                                pInputText
                                id="secondCommiteeFirstName"
                                type="text"
                                formControlName="fullName"
                                readonly
                            />
                        </div>
                        <div class="field col-12 md:col-4">
                            <label htmlFor="secondCommiteePos">ตำแหน่ง</label>
                            <input
                                pInputText
                                id="secondCommiteePos"
                                type="text"
                                formControlName="position"
                                readonly
                            />
                        </div>
                    </ng-container>
                </div>
                <div class="p-fluid p-formgrid grid">
                    <div class="field col-12">
                        <div class="flex justify-content-end">
                            <div class="field col-12 md:col-2">
                                <button
                                    pButton
                                    pRipple
                                    type="button"
                                    label="ยกเลิก"
                                    class="p-button-secondary"
                                    (click)="onLocationBack()"
                                ></button>
                            </div>
                            <div class="field col-12 md:col-2">
                                <button
                                    [disabled]="submitDisabled$ | async"
                                    pButton
                                    pRipple
                                    type="submit"
                                    label="บันทึก"
                                ></button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
