<div class="p-0 mt-3">
    <p class="font-bold text-2xl text-primary mb-4">บริหารสัญญา</p>
    
    <div class="flex flex-row justify-content-between align-items-center align-self-center mb-3">
      <div class="flex flex-row align-items-center gap-1 text-xs md:text-base text-secondary">
        <span class="m-0 text-center">บริหารสัญญา</span><i class="pi pi-angle-right" style="font-size: 1rem"></i><span class="m-0">สระบุรี 1</span><i class="pi pi-angle-right" style="font-size: 1rem"></i><span class="m-0">Recieve and Damage</span><i class="pi pi-angle-right" style="font-size: 1rem"></i><span class="m-0 font-bold">{{report.invoice.slice(0,20)}}</span><span *ngIf="report.invoice.length>20">...</span>
      </div>
      <p *ngIf="report.comment!.overAll == 'พบปัญหา' && report.stateID == 3" class="text-red">พบปัญหา</p>
      <p *ngIf="report.comment!.overAll == 'รับของเรียบร้อย' && report.stateID == 3" class="text-green">
        รับของเรียบร้อย
      </p>
      <p *ngIf="report.stateID == 2" class="text-orange">{{ report.stateName }}</p>
    </div>
        <div class="card">
                <p class="text-lg font-bold text-primary m-0">
                  รายละเอียด Receive and Damage
                </p>
            <hr class="my-4" />
            <div class="grid grid-nogutter justify-content-between">
              <div class="col-12 md:col-4">
                <p class="font-bold text-lg text-primary">อุปกรณ์ที่ส่งมอบ</p>
              </div>
              <div class="col-12 m-0 md:col-8">
                <p class="font-bold text-primary">{{ report.itemName }}</p>
              </div>
            </div>
            <hr class="my-4" />
            <div class="grid grid-nogutter justify-content-between">
              <div class="col-12 md:col-4">
                <p class="font-bold text-primary mb-3 text-lg">รายละเอียดเบื้องต้น</p>
              </div>
              <div class="col-12 md:col-8 md:mt-1">
                <div class="grid grid-nogutter justify-content-between md:mb-4">
                  <div class="col-12 sm:col-6">
                    <p class="text-secondary text-sm mb-0 md:mb-2">
                      วันที่ส่งของถึงหน้างาน
                    </p>
                    <p class="font-bold text-primary mb-3">{{ report.arrival }}</p>
                  </div>
                  <div class="col-12 mb-3 sm:col-6">
                    <p class="text-secondary text-sm mb-0 md:mb-2">วันที่ตรวจสอบ</p>
                    <p class="font-bold text-primary ">
                      {{ report.inspection }}
                    </p>
                  </div>
                </div>
                <div class="grid grid-nogutter my-0 justify-content-between">
                  <div class="col-12 sm:col-6">
                    <p class="text-secondary text-sm mb-0 md:mb-2">
                      ชื่อผู้ควบคุมงานของบริษัท
                    </p>
                    <p class="font-bold text-primary">{{ report.taskMaster }}</p>
                  </div>
                </div>
              </div>
              
            </div>
            <hr class="my-4" />
            <div class="grid grid-nogutter justify-content-between">
              <div class="col-12 md:col-4">
                <p class="font-bold text-primary text-lg mb-3">เอกสารการส่ง</p>
              </div>
              <div class="col-12 md:col-8 md:mt-1">
                <div class="grid grid-nogutter justify-content-between">
                  <div class="md:col-12">
                    <p class="text-secondary text-sm mb-0 md:mb-2">เลขที่ใบส่ง</p>
                    <p class="font-bold text-primary">{{ report.invoice }}</p>
                  </div>
  
                  <div class="col-12 my-5">
                    <div *ngFor="let d of doctype" class="mb-3">
                      <p *ngIf="filteredAttachFiles(d.id)" class="text-secondary text-sm mb-2 ">{{ d.name }}</p>
                      <div *ngFor="let af of file">
                        <div class="grid grid-nogutter border-round-sm bg-light p-3 mb-1">
                          <div class="col-fixed">
                            <img class="hidden sm:block" src="./../../../assets/svg/File-pdf-document.svg" width="48px" height="48px" />
                          </div>
                          <div class="col ml-3">
                            <p class="font-bold">{{ af.name }}</p>
                            <p class="text-xs">ขนาดไฟล์ {{ af.size }} {{ af.unit }}</p>
                          </div>
                          <div
                            class="col-fixed align-self-center"
                            style="width: 50px"
                          >
                            <p-button
                              icon="pi pi-ellipsis-v"
                              styleClass="p-button-rounded p-button-text"
                              (click)="
                                ShowMenuManage(af.id, af.name);
                                menu.toggle($event)
                              "
                            ></p-button>
                            <p-menu
                              #menu
                              [model]="manageMenu"
                              [popup]="true"
                              appendTo="body"
                            ></p-menu>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            
            </div>
            <hr class="mb-4" />
            <div class="grid grid-nogutter justify-content-between">
              <div class="col-12 md:col-4 text-lg">
                <p class="font-bold">รายละเอียดอุปกรณ์ไฟฟ้าที่ส่ง</p>
              </div>
  
              <div class="col-12 md:col-8 md:mt-1">
                <div class="grid grid-nogutter mt-3 md:mt-0 justify-content-between">
                  <div class="col-12 sm:col-6">
                    <p class="mb-0 text-secondary text-sm md:mb-2">จำนวนอุปกรณ์ที่ต้องการส่งมอบ</p>
                    <p class="font-bold mb-3">
                      {{ report.quantity }} {{ report.itemUnit }}
                    </p>
                  </div>
                  <div class="col-12 sm:col-6">
                    <p class="mb-0 text-secondary text-sm md:mb-2">ประเทศผู้ผลิต</p>
                    <p class="font-bold md:mb-3">{{ report.country }}</p>
                  </div>
                </div>
                <div class="grid grid-nogutter my-3 justify-content-between">
                  <div class="col-12 sm:col-6">
                    <p class="mb-0 text-secondary text-sm md:mb-2">ยี่ห้อ (Brand)</p>
                    <p class="font-bold mb-3">{{ report.brand }}</p>
                  </div>
                  <div class="col-12 sm:col-6">
                    <p class="mb-0 text-secondary text-sm md:mb-2">รุ่น</p>
                    <p class="font-bold md:mb-3">{{ report.model }}</p>
                  </div>
                </div>
                <div class="grid grid-nogutter my-3 justify-content-between">
                  <div class="col-12 sm:col-6">
                    <p class="mb-0 text-secondary text-sm md:mb-2">Serial Number</p>
                    <p class="font-bold mb-3">{{ report.serial }}</p>
                  </div>
                  <div class="col-12 sm:col-6">
                    <p class="mb-0 text-secondary text-sm md:mb-2">PEA No.</p>
                    <p class="font-bold mb-3">{{ report.peano }}</p>
                  </div>
                </div>
              </div>
            </div>
            <!-- ... -->
            <div *ngIf="report.stateID == 3">
            <hr class="my-3" />
            <div class="grid grid-nogutter justify-content-between">
              <div class="col-12 md:col-4 mb-3 md:mb-0">
                <p class="font-bold text-lg">ความคิดเห็นของ กฟภ.</p>
              </div>
  
              <div class="col-12 md:col-8">
                <div class="grid grid-nogutter">
                  <div
                    *ngIf="report.comment.problem.defect > 0 || report.comment.problem.incomplate > 0 || report.comment.problem.mismatch > 0"
                    class="p-0 col-6 text-primary"
                  >
                    <div class="flex flex-row align-items-center gap-3">
                      <p class="text-red">พบปัญหา</p>
                      <p class="my-0 font-bold mb-3">จำนวน</p>
                      <p class="my-0 font-bold mb-3">
                        {{ report.comment!.problem.defect + report.comment!.problem.incomplate + report.comment!.problem.mismatch }}
                      </p>
                      <p class="my-0 font-bold mb-3">รายการ</p>
                    </div>
                    <div
                      *ngIf="report.comment!.problem.defect > 0"
                      class="flex flex-row gap-3 md:mt-3"
                    >
                      <p class="my-0 font-bold mb-3">มีความเสียหาย</p>
                      <p class="my-0 font-bold mb-3">จำนวน</p>
                      <p class="my-0 font-bold mb-3">{{ report.comment!.problem.defect }}</p>
                      <p class="my-0 font-bold mb-3">รายการ</p>
                    </div>
                    <div
                      *ngIf="report.comment!.problem.incomplate > 0"
                      class="flex flex-row gap-3 md:mt-3"
                    >
                      <p class="my-0 font-bold mb-3">ของไม่ครบ</p>
                      <p class="my-0 font-bold mb-3">จำนวน</p>
                      <p class="my-0 font-bold mb-3">{{ report.comment!.problem.incomplate }}</p>
                      <p class="my-0 font-bold mb-3">รายการ</p>
                    </div>
                    <div
                      *ngIf="report.comment!.problem.mismatch > 0"
                      class="flex flex-row gap-3 md:mt-3"
                    >
                      <p class="my-0 font-bold mb-3">ของไม่ตรงตามสัญญา</p>
                      <p class="my-0 font-bold mb-3">จำนวน</p>
                      <p class="my-0 font-bold mb-3">{{ report.comment!.problem.mismatch }}</p>
                      <p class="my-0 font-bold mb-3">รายการ</p>
                    </div>
                  </div>
                  <div
                    *ngIf="report.comment!.noProblem > 0"
                    class="p-0 col-6 mb-3 text-sm text-primary"
                  >
                    <div *ngIf="report.comment.problem.defect > 0 || report.comment.problem.incomplate > 0 || report.comment.problem.mismatch > 0"
                      class="flex flex-row align-items-center gap-3">
                      <p class="text-green">รับของเรียบร้อย</p>
                      <p class="my-0 font-bold mb-3">จำนวน</p>
                      <p class="my-0 font-bold mb-3">{{ report.comment!.noProblem }}</p>
                      <p class="my-0 font-bold mb-3">รายการ</p>
                    </div>
                    <div *ngIf="report.comment.problem.defect == 0 && report.comment.problem.incomplate == 0 && report.comment.problem.mismatch == 0"
                      class="flex flex-row align-items-center gap-3">
                      <p class="text-green">รับของเรียบร้อย</p>
                    </div>
                  </div>
                </div>
                <div class="flex flex-row flex-wrap align-self-auto gap-1 my-3">
                  <div *ngFor="let image of report.comment!.images" class="mb-1">
                    <p-image src={{image.src}} width="224px" height="180" [preview]="true" alt="Image">
                      <ng-template pTemplate="indicator">
                          <i class="pi pi-search"></i>
                      </ng-template>
                    </p-image>
                  </div>
                </div>
                <div class="flex flex-column my-3">
                  <p class="mb-0 text-sm text-secondary md:mb-2">ข้อคิดเห็นเพิ่มเติม</p>
                  <p class="font-bold text-primary">{{ report.comment!.extraComment }}</p>
                </div>
              </div>
            </div>
            <hr class="my-4" />
            <div class="grid grid-nogutter justify-content-between">
              <div class="col-12 md:col-4 mb-3 md:mb-0">
                <p class="font-bold">ไฟล์เอกสารใบส่ง (พร้อมลายเซ็นต์)</p>
              </div>
  
              <div *ngIf="!report.radFile" class="col-12 md:col-8 align-items-start">
                  <ngx-dropzone class="text-base mb-3" (change)="onSelectFileUpload($event)">
                      <ngx-dropzone-label>
                          ลากไฟล์มาไว้ที่นี้ หรือ
                          <span class="text-pea font-bold">เลือกไฟล์เพื่ออัปโหลด</span>
                          <br />
                          <span>ไฟล์ขนาดไม่เกิน 50 MB (เฉพาะ .pdf เท่านั้น)</span>
                      </ngx-dropzone-label>
                  </ngx-dropzone>
                  
                      <div *ngFor="let f of files;  index as i" class="grid grid-nogutter border-round-sm bg-light p-3 mb-1 mx-0 align-items-center">
                          <div class="col-fixed">
                              <img class=" hidden md:block" src="./../../../assets/svg/File-pdf-document.svg" width="48px" height="48px" />
                          </div>
                          
                          <div class="col ml-3">
                              <p class="font-bold"> {{ f.name }} </p>
                              <p class="text-xs"> ขนาดไฟล์ {{ b2s(f.size) }} </p>
                          </div>
                          <div
                            class="col-fixed"
                            style="width: 50px"
                          >
                              <p-button icon="pi pi-trash" styleClass="p-button-rounded p-button-text"
                                  (click)="onRemoveFileUpload(f,i)"></p-button>
                          </div>
                      </div>
                  <div class="flex flex-row justify-content-center " *ngIf="files.length>0">
                      <button class="btn btn-lg btn-primary px-5 mx-3 p-button-outlined" pButton>แนบเอกสาร</button>
                      <button class="btn btn-lg btn-primary px-5 mx-3 p-button-outlined" pButton>ยกเลิกเอกสาร</button>
                  </div>
              </div>
              <!-- ... -->
              <div class="col-12 md:col-8 align-items-start">
                  <div *ngIf="report.radFile">
                    <div class="grid grid-nogutter border-round-sm bg-light p-3 mb-1">
                      <div class="col-fixed">
                        <img class="hidden sm:block" src="./../../../assets/svg/File-pdf-document.svg" width="48px" height="48px" />
                      </div>
                      <div class="col ml-3">
                        <p class="font-bold">{{ report.radFile!.name }}</p>
                        <p class="text-xs">ขนาดไฟล์ {{ report.radFile!.size }} {{ report.radFile!.unit }}</p>
                      </div>
                      <div
                        class="col-fixed align-self-center"
                        style="width: 50px"
                      >
                        <p-button
                          icon="pi pi-ellipsis-v"
                          styleClass="p-button-rounded p-button-text"
                          (click)="
                            ShowMenuManage(report.radFile!.id, report.radFile!.name);
                            menu.toggle($event)
                          "
                        ></p-button>
                        <p-menu
                          #menu
                          [model]="manageMenu"
                          [popup]="true"
                          appendTo="body"
                        ></p-menu>
                      </div>
                    </div>
                  </div>
              </div>
              <!-- ... -->
            </div>
            </div>
            <!-- ... -->
        </div>
        <div class="col text-center">
          <button
            class="btn btn-lg btn-primary px-5 mx-3 p-button-outlined"
            pButton
            [routerLink]="['pd/contract', contractId, 'item', itemId, 'report']"
          >
            ย้อนกลับ
          </button>
        </div>
    <p-dialog
      [(visible)]="display"
      [modal]="true"
      [style]="{ width: '80vw' }"
      [maximizable]="false"
      [draggable]="false"
      [resizable]="false"
      (onHide)="onHide()"
    >
      <div class="pdf-container">
        <pdf-viewer
          [src]="src"
          [rotation]="0"
          [original-size]="false"
          [show-all]="true"
          style="width: 100%; height: 600px"
        ></pdf-viewer>
      </div>
    </p-dialog>
  </div>
  