mat-toolbar {
  background: #FFFF;
  box-shadow: 0px 4px 16px rgba(192, 181, 205, 0.24);
  height: 96px;
  position: relative;
  z-index: 1;
}

.vl {
  border-left: 1px solid #454545;
  margin: 0 5px;
  height: 32px;
}

.avatar {
  height: 2.5rem;
  width: 2.5rem;
  border: 1px solid #454545;
  object-fit: cover;
}
