<div class="container my-5">
  <div class="neutral-08 fw-bold fs-4 ">
    Receive and Damage
  </div>

  <div class="row mt-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb fs-6">
        <li class="breadcrumb-item"><a class="neutral-06" routerLink="">ตรวจรับงาน</a></li>
        <li class="breadcrumb-item"><a class="neutral-06" routerLink="">สระบุรี 1</a></li>
        <li class="breadcrumb-item active fw-bolder" aria-current="page">Receive and Damage</li>
      </ol>
    </nav>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-card class="rounded-4 py-3">
        <p class="h5">
          รายการทั้งหมด
        </p>
        <div class="d-flex">
          <div class="col-6 align-self-end">
            <p>50 รายการ</p>
          </div>
          <div class="col-6 border-start px-3">
            <p>รับของครบ 1 รายการ</p>
            <p>ยังไม่ครบ 49 รายการ</p>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="rounded-4 py-3">
        <p class="h5">
          รายการที่ตรวจสอบแล้ว
        </p>
        <div class="d-flex">
          <div class="col-6 align-self-end">
            <p>50 รายการ</p>
          </div>
          <div class="col-6 border-start px-3">
            <p>รับของครบ 1 รายการ</p>
            <p>ยังไม่ครบ 49 รายการ</p>
          </div>
        </div>
      </mat-card>
    </div>
    <div class="col-md-4">
      <mat-card class="rounded-4 py-3">
        <p class="h5">
          รายการที่รอตรวจสอบ
        </p>
        <div class="d-flex">
          <div class="col-6 align-self-end">
            <p>50 รายการ</p>
          </div>
          <div class="col-6 border-start px-3">
            <p>รับของครบ 1 รายการ</p>
            <p>ยังไม่ครบ 49 รายการ</p>
          </div>
        </div>
      </mat-card>
    </div>
  </div>

  <!-- <div class="row my-5 ">
    <mat-card class="py-5 px-5">
      <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td colspan="2">Larry the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </mat-card>
  </div> -->

  <div class="mat-elevation-z8 table-margin table-responsive">
    <table mat-table [dataSource]="dataSource" class="w-100">

      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> ลำดับ </th>
        <td mat-cell *matCellDef="let element; index as i"> {{i + 1}} </td>
      </ng-container>

      <ng-container matColumnDef="itemNo">
        <th mat-header-cell *matHeaderCellDef> Item<br>No. </th>
        <td mat-cell *matCellDef="let data"> {{data.itemNo}} </td>
      </ng-container>

      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef> รายการ </th>
        <td mat-cell *matCellDef="let data" class="text-truncate"> {{data.name}} </td>
      </ng-container>

      <ng-container matColumnDef="group">
        <th mat-header-cell *matHeaderCellDef> รายการหลัก </th>
        <td mat-cell *matCellDef="let data" class="text-truncate"> {{data.group}} </td>
      </ng-container>

      <ng-container matColumnDef="quantity">
        <th mat-header-cell *matHeaderCellDef> จำนวน<br>ตามสัญญา </th>
        <td mat-cell *matCellDef="let data"> {{data.quantity}} </td>
      </ng-container>

      <ng-container matColumnDef="delivery">
        <th mat-header-cell *matHeaderCellDef> จำนวน<br>ที่รอส่งมอบ </th>
        <td mat-cell *matCellDef="let data"> {{data.delivery}} </td>
      </ng-container>

      <ng-container matColumnDef="good">
        <th mat-header-cell *matHeaderCellDef> สภาพดี </th>
        <td mat-cell *matCellDef="let data"> {{data.good}} </td>
      </ng-container>

      <ng-container matColumnDef="bad">
        <th mat-header-cell *matHeaderCellDef> พบปัญหา </th>
        <td mat-cell *matCellDef="let data"> {{data.bad}} </td>
      </ng-container>

      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef class="text-center"> </th>
        <td mat-cell *matCellDef="let data" class="text-center">
          <button mat-icon-button>
            <img src="assets/svg/note_add-box.svg" routerLink="/form" alt="">
          </button>
          <button mat-icon-button>
            <img src="assets/svg/note_add-box-2.svg" routerLink="" alt="">
          </button>
        </td>
      </ng-container>

      <!-- Header bottom row for input -->
      <ng-container matColumnDef="header-input-id">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-input-itemNo">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-input-name">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-input-group">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-input-quantity">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-input-delivery">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-input-good">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-input-bad">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
          <mat-form-field appearance="outline">
            <mat-label>Search</mat-label>
            <input matInput placeholder="Placeholder">
            <mat-icon matSuffix>search</mat-icon>
          </mat-form-field>
        </th>
      </ng-container>

      <ng-container matColumnDef="header-input-action">
        <th mat-header-cell *matHeaderCellDef [attr.colspan]="1">
        </th>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns">
      </tr>
      <tr mat-header-row *matHeaderRowDef="['header-input-id', 'header-input-itemNo', 'header-input-name','header-input-group','header-input-quantity','header-input-delivery','header-input-good','header-input-bad','header-input-action']"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;">
      </tr>
    </table>
  </div>

</div>
