.breadcrumb-item+.breadcrumb-item::before {
  content: " > ";
  color: #6c757d;
}

a {
  text-decoration: none;
}

.topic-card {
  width: 231px;
  height: 41px;

  /* Headline/bold/18 */
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  display: flex;
  align-items: center;

  /* Neutral/00 */

  color: #FCFCFC;
}

.card-primary {
  /* Auto layout */

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 24px 16px;

  width: 298px;
  height: 112px;

  /* Primary/400 */

  background: #7718BC;
  /* PEA/Shadows-Outline/Z4 - Card */

  box-shadow: 0px 4px 16px rgba(145, 158, 171, 0.24);
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}

th.mat-column-listName,
td.mat-column-listName {
  max-width: 136px;
}

.table-margin {
  margin-top: 37.5px;
}

td.mat-cell {
  padding: 8px 0px;
}

th.mat-header-cell {
  padding: 8px 0px;
}

@media (max-width: 600px) {
  th.mat-header-cell:nth-child(2) {
    min-width: 400px;
  }
}
