<div class="neutral-08 fw-bold fs-4 mt-4 mb-3 ms-4">
  Receive and Damage
</div>

<nav aria-label="breadcrumb">
  <ol class="breadcrumb ms-4 fs-6">
    <li class="breadcrumb-item"><a class="neutral-06" routerLink="">ตรวจรับงาน</a></li>
    <li class="breadcrumb-item"><a class="neutral-06" routerLink="">สระบุรี 1</a></li>
    <li class="breadcrumb-item active fw-bolder" aria-current="page">Receive and Damage</li>
  </ol>
</nav>

<div class="row">
  <div class="col-md-4">
    <mat-card>
      รายการทั้งหมด
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      รายการที่ตรวจสอบแล้ว
    </mat-card>
  </div>
  <div class="col-md-4">
    <mat-card>
      รายการรอตรวจสอบ
    </mat-card>
  </div>
</div>
