<div class="container my-5">
  <div class="neutral-08 fw-bold fs-4">Receive and Damage</div>

  <div class="row mt-4">
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb fs-6">
        <li class="breadcrumb-item">
          <a class="neutral-06" routerLink="">ตรวจรับงาน</a>
        </li>
        <li class="breadcrumb-item">
          <a class="neutral-06" routerLink="">สระบุรี 1</a>
        </li>
        <li class="breadcrumb-item active fw-bolder" aria-current="page">
          Receive and Damage
        </li>
      </ol>
    </nav>
  </div>
  <div class="row">
    <div class="col-md-12">
      <mat-card class="py-5 px-5 rounded-4 shadow-3">
        <div class="mb-5 row">
          <div class="col-sm-4">
            <label for="staticEmail" class="col-form-label"
              >อุปกรณ์ที่ส่งมอบ</label
            >
          </div>
          <div class="col-sm-8">
            <input
              class="form-control bg-secondary bg-opacity-25"
              type="text"
              value="On-load tap-changing power transformer three-phase, 115-22 kV, 30/40/50 MVA (Dyn1)"
              aria-label="readonly input example"
              readonly
            />
          </div>
        </div>
 
        <hr />
        <div class="my-5 row">
          <div class="col-sm-4">
            <label for="inputPassword" class="col-form-label"
              >รายละเอียดเบื้องต้น</label
            >
          </div>
          <div class="col-sm-8">
            <div class="row d-flex">
              <div class="mb-3 col-sm-6">
                <label for="exampleFormControlInput1" class="form-label"
                  >วันที่ของส่งถึงหน้างาน</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="กรุณากรอก วันที่ของส่งถึงหน้างาน"
                />
              </div>
              <div class="mb-3 col-sm-6">
                <label for="exampleFormControlInput1" class="form-label"
                  >วันที่ตรวจสอบ</label
                >
                <input
                  type="date"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="กรุณากรอก วันที่ตรวจสอบ"
                />
              </div>
            </div>
            <div class="row">
              <div class="mb-3 col-sm-12">
                <label for="exampleFormControlInput1" class="form-label"
                  >ชื่อผู้ควบคุมงานของบริษัท</label
                >
                <input
                  type="email"
                  class="form-control"
                  id="exampleFormControlInput1"
                  placeholder="กรุณากรอก ชื่อผู้ควบคุมงานของบริษัท"
                />
              </div>
            </div>
          </div>
        </div>

        <hr />

        <div class="my-5 row">
            <div class="col-sm-4">
              <label for="inputPassword" class="col-form-label"
                >เอกสารการส่ง</label
              >
            </div>
            <div class="col-sm-8">
              <div class="row">
                <div class="mb-3 col-sm-12">
                  <label for="exampleFormControlInput1" class="form-label"
                    >เลขที่ใบส่ง</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="กรุณากรอก เลขที่ใบส่ง"
                  />
                </div>
              </div>
            </div>
          </div>
        <hr/>
          <div class="my-5 row">
            <div class="col-sm-4">
              <label for="inputPassword" class="col-form-label"
                >รายละเอียดอุปกรณ์ไฟฟ้าที่ส่ง</label
              >
            </div>
            <div class="col-sm-8">
              <div class="row d-flex">
                <div class="mb-3 col-sm-6">
                  <label for="exampleFormControlInput1" class="form-label"
                    >จำนวนอุปกรณ์ไฟฟ้าที่ส่ง (Unit)</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="กรุณากรอก จำนวนอุปกรณ์ไฟฟ้าที่ส่ง (Unit)"
                  />
                </div>
                <div class="mb-3 col-sm-6">
                  <label for="exampleFormControlInput1" class="form-label"
                    >ประเทศผู้ผลิต</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="กรุณากรอก ประเทศผู้ผลิต"
                  />
                </div>
              </div>

              <div class="row d-flex">
                <div class="mb-3 col-sm-6">
                  <label for="exampleFormControlInput1" class="form-label"
                    >ยี่ห้อ</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="กรุณากรอก ยี่ห้อ"
                  />
                </div>
                <div class="mb-3 col-sm-6">
                  <label for="exampleFormControlInput1" class="form-label"
                    >รุ่น</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="กรุณากรอก รุ่น"
                  />
                </div>
              </div>


              <div class="row">
                <div class="mb-3 col-sm-12">
                  <label for="exampleFormControlInput1" class="form-label"
                    >Serial Number</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="กรุณากรอก Serial Number"
                  />
                </div>
              </div>

              <div class="row">
                <div class="mb-3 col-sm-12">
                  <label for="exampleFormControlInput1" class="form-label"
                    >PEA.NO</label
                  >
                  <input
                    type="email"
                    class="form-control"
                    id="exampleFormControlInput1"
                    placeholder="กรุณากรอก PEA.NO"
                  />
                </div>
              </div>


            </div>
          </div>
      </mat-card>
    </div>
  </div>
</div>
