.parcels-check__card ::ng-deep .p-card-body {
    padding: 1.75rem 0.5rem;
}

.parcels-check__card ::ng-deep .p-card-content {
    padding: 0;
}

.parcels-check__subtitle {
    color: #7f7f7f;
}

.table__cell-border-right--white {
    border-right: 12px solid white !important;
}

.table__cell-line-height--3  {
    line-height: 3;
}
