<div class="mt-5">
    <p class="font-bold" style="font-size: 24px">ตรวจสอบมาตรฐานงานก่อสร้าง</p>
    <p>เมนูผังงานก่อสร้าง</p>
</div>

<div class="mt-3" style="font-family: 'Noto Sans'">
    <p-card class="parcels-check__card">
        <div class="flex align-items-center justify-content-between">
            <div class="flex flex-column gap-2">
                <div class="font-bold text-4xl">
                    ลานตากพืซผล บ.ทรัพย์ทิพย์ ม.4
                </div>
                <div class="parcels-check__subtitle">
                    หมายเลขทรัพย์สินระหว่างก่อสร้าง (AUC)
                </div>
            </div>

            <div class="flex flex-column gap-2">
                <div class="font-bold text-2xl">I-63-C-CBD65.MS.3000</div>
                <div class="parcels-check__subtitle">
                    D1-แล้วเสร็จ-ตรวจสอบพัสดุค่าใช้จ่าย
                </div>
            </div>
        </div>

        <div
            class="flex align-items-center justify-content-around w-4 pb-3 mt-3 border-bottom-3"
        >
            <span>พัสดุติดตั้งใหม่</span>
            <span>พัสดุรื้อถอน</span>
            <span>ภาพรวม</span>
        </div>

        <p-table
            styleClass="mt-3"
            [value]="parcels"
            sortField="department"
            sortMode="single"
            dataKey="department"
            rowGroupMode="subheader"
            groupRowsBy="department"
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th [ngStyle]="{ width: '5rem' }" class="text-center">
                        ลำดับ
                    </th>
                    <th [ngStyle]="{ width: '20rem' }" class="text-center">
                        รายการ
                    </th>
                    <th [ngStyle]="{ width: '8rem' }" class="text-center">
                        ประมาณ
                    </th>
                    <th [ngStyle]="{ width: '8rem' }" class="text-center">
                        ติดตั้ง
                    </th>
                    <th
                        class="table__cell-border-right--white text-center"
                        [ngStyle]="{ width: '8rem' }"
                    >
                        ส่วนต่าง
                    </th>
                    <th
                        *ngFor="
                            let header of parcelQuantityHeaders;
                            let index = index
                        "
                        class="w-3rem text-center"
                    >
                        {{ index + 1 }}
                    </th>
                </tr>
            </ng-template>
            <ng-template
                pTemplate="groupheader"
                let-parcel
                let-rowIndex="rowIndex"
                let-expanded="expanded"
            >
                <tr>
                    <td
                        colspan="5"
                        class="table__cell-border-right--white align-items-center"
                    >
                        <button
                            type="button"
                            pButton
                            pRipple
                            [pRowToggler]="parcel"
                            class="p-button-text p-button-rounded p-button-plain mr-2"
                            [icon]="
                                expanded
                                    ? 'pi pi-chevron-down'
                                    : 'pi pi-chevron-right'
                            "
                        ></button>

                        <span class="font-bold ml-2 table__cell-line-height--3">
                            {{ parcel.department }}
                        </span>
                    </td>

                    <td>DDE</td>
                    <td>SP</td>
                    <td>SP</td>
                    <td>DDE</td>
                    <td>CCB</td>
                    <td>CCB</td>
                    <td>CCB</td>
                    <td>CCB</td>
                    <td>DDE</td>
                    <td>SP</td>
                    <td>SP</td>
                    <td>SP</td>
                </tr>
            </ng-template>
            <ng-template pTemplate="rowexpansion" let-parcel>
                <tr>
                    <td class="text-center">
                        {{ parcel.no }}
                    </td>
                    <td class="text-center">
                        {{ parcel.detail }}
                    </td>
                    <td class="text-center">
                        {{ parcel.quantity }}
                    </td>
                    <td class="text-center">
                        {{ parcel.installQuantity }}
                    </td>
                    <td class="text-center">
                        {{ parcel.diff }}
                    </td>
                    <td
                        *ngFor="
                            let header of parcelQuantityHeaders;
                            let index = index
                        "
                        class="text-center"
                    >
                        1
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </p-card>
</div>
