:root {
  /* ===== Font-Fammily==== */
  --global-font-family: 'NotoSansThai',

  /* ===== Color ===== */
  --global-primary-color: #7718BC,
  --global-secondary-color: #F7AC1A,
  --global-gradient-color: #621C94,
  --global-secondary-color: #CF8F12,

   /* ===== Color-commmunicaiton ===== */
  --communication-success-color-one: #107F49,
  --communication-success-color-two: #14AB63,
  --communication-success-color-three: #F2FDF6,
  --communication-process-color-one: #946800;
  --communication-process-color-two: #FFB300;
  --communication-process-color-three: #FFF0CC;
  --communication-urgentFail-color-one: #970502;
  --communication-urgentFail-color-two: #FC3D39;
  --communication-urgentFail-color-three: #FFF5F5;
  --communication-accepts-color-one: #034696;
  --communication-accepts-color-two: #157EFB;
  --communication-accepts-color-three: #F0F7FF;

  //===== font-weight =====\\
  --font-weight-regular: normal;
  --font-weight-bold: bold;
  --font-weight-semi: 450;

  //===== effect =====\\
  --box-shadows-switch-button: 0px 1px 2px rgba(145, 158, 171, 0.24);
  --box-shadows-card: 0px 4px 16px rgba(145, 158, 171, 0.24);
  --box-shadows-button-alert-snackBar: 0px 8px 16px rgba(145, 158, 171, 0.24);
  --box-shadows-popover: 0px 0px 2px rgba(145, 158, 171, 0.24), 0px 12px 24px rgba(145, 158, 171, 0.24);
  --box-shadows-dropdown-menuSelect: 0px 16px 32px rgba(145, 158, 171, 0.24), 0px 0px 2px rgba(145, 158, 171, 0.24);
  --box-shadows-modalsDialogue: 0px 0px 4px rgba(145, 158, 171, 0.24), 0px 24px 48px rgba(145, 158, 171, 0.24);
  --box-shadows-headBar-navigation: 0px 4px 16px rgba(192, 181, 205, 0.24);

  //===== grid-system =====\\


   //===== Typography =====\\
   h1 {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 72px;
    line-height: 96px;
    letter-spacing: -2%;
   }
   h2 {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 64px;
    line-height: 88px;
    letter-spacing: -1%;
   }
   h3 {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 48px;
    line-height: 64px;
    letter-spacing: -1%
   }
   h4 {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 32px;
    line-height: 48px;
    letter-spacing: 0%
   }
   h5 {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 24px;
    line-height: 40px;
    letter-spacing: 0%
   }
   h6 {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 20px;
    line-height: 32px;
    letter-spacing: 0%
   }
   .subtitle-L {
    font-family: var(--global-font-family);
    font-weight: var(--font-size-bold);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1%
   }
   .subtitle-M {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-bold);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%
   }
   .subtitle-S {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-bold);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2%
   }
   .body-L {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1%
   }
   .body-M {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    line-height: 24%;
    letter-spacing: 2%
   }
   .botton-L {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-semi);
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 1%
   }
   .botton-M {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-semi);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%
   }
   .button-S {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-semi);
    font-size: var(--font-weight-semi);
    line-height: 20px;
    letter-spacing: 2%
   }
   .label-L {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 2%
   }
   .label-M {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 14px;
    line-height: 20px;
    letter-spacing: 2%
   }
   .label-S {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2%
   }
   .label-XS {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-regular);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2%
   }
   .caption {
    font-family: var(--global-font-family);
    font-weight:  var(--font-weight-semi);
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2%
   }
   .caption-S {
    font-family: var(--global-font-family);
    font-weight: var(--font-weight-semi);
    font-size: 10px;
    line-height: 14px;
    letter-spacing: 2%
   }
}


// body {
//     font-family: "NotoSansThai";
// }
