<div class="p-0 mt-3">
    <p class="font-bold text-2xl text-primary mb-4">บริหารสัญญา</p>
    <div class="flex flex-row align-items-center gap-1 mb-4 pb-0 text-secondary">
        <span class="m-0 text-center">บริหารจัดการสัญญา</span><i class="pi pi-angle-right" style="font-size: 1rem"></i><span class="m-0">บริหารสัญญา</span><i class="pi pi-angle-right" style="font-size: 1rem"></i><span class="m-0 font-bold">งานก่อสร้างสถานีไฟฟ้า สระบุรี 1</span>
    </div>
        <div class="card cursor-pointer text-lg p-0">
            <p class="font-bold ml-4 mt-4 mb-1 text-primary">1 | Master plan</p>
            <div class="flex flex-column ml-6 text-secondary" >
                <div class="flex flex-row justify-content-between mb-2" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="flex flex-row mb-3 justify-content-between mb-2" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
        <div class="card cursor-pointer text-lg p-0">
            <p class="font-bold ml-4 mt-4 mb-1 text-primary">2 | Daily Report</p>
            <div class="flex flex-column ml-6 text-secondary" >
                <div class="flex flex-row justify-content-between mb-2" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="flex flex-row mb-3 justify-content-between mb-2" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
        <div class="card cursor-pointer text-lg p-0">
            <p class="font-bold ml-4 mt-4 mb-1 text-primary">3 | Monthly  Report</p>
            <div class="flex flex-column ml-6 text-secondary" >
                <div class="flex flex-row justify-content-between mb-2" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="flex flex-row mb-3 justify-content-between mb-2" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
        <div class="card cursor-pointer text-lg p-0">
            <p class="font-bold ml-4 mt-4 mb-1 text-primary">4 |เอกสารเบิกจ่าย</p>
            <div class="flex flex-column ml-6 text-secondary" >
                <div class="flex flex-row justify-content-between mb-2" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="flex flex-row mb-3 justify-content-between mb-2" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
        <div class="card cursor-pointer text-lg p-0">
            <p class="font-bold ml-4 mt-4 mb-1 text-primary">5 |Receive and Damage</p>
            <div class="flex flex-column ml-6 text-secondary" >
                <div class="flex flex-row justify-content-between mb-2" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="flex flex-row mb-3 justify-content-between mb-2" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
</div>