// p-card:hover{
//     cursor: pointer;
// }

.text-primary{
    color: #454545 !important
}

.text-secondary{
    color: #7F7F7F !important
}

.text-thirdary{
    color: #6A6A6A !important
}

.card{
    font-size: 18px;
    margin-bottom: 32px;
    box-shadow: rgba(149, 157, 165, 0.1) 0px 4px 8px;
    border: none;
}

.card:hover{
    box-shadow: rgba(149, 157, 165, 0.2) 0px 4px 8px;
}