<div class="container">
    <h4 class="fw-bold text-primary">บริหารสัญญา</h4>
    <div class="flex flex-row align-items-center gap-1 mb-3 pb-0 text-secondary">
        <span class="m-0 text-center">บริหารจัดการสัญญา</span><i class="pi pi-angle-right" style="font-size: 1rem"></i><span class="m-0">บริหารสัญญา</span><i class="pi pi-angle-right" style="font-size: 1rem"></i><span class="m-0 fw-bold">งานก่อสร้างสถานีไฟฟ้า สระบุรี 1</span>
    </div>
        <div class="card cursor-pointer text-primary">
            <p class="fw-bold mb-3">1 | Master plan</p>
            <div class="d-flex flex-column ml-5 text-secondary" >
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
        <div class="card cursor-pointer text-primary">
            <p class="fw-bold mb-3">2 | Daily Report</p>
            <div class="d-flex flex-column ml-5 text-secondary" >
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
        <div class="card cursor-pointer text-primary">
            <p class="fw-bold mb-3">3 | Monthly  Report</p>
            <div class="d-flex flex-column ml-5 text-secondary" >
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
        <div class="card cursor-pointer text-primary">
            <p class="fw-bold mb-3">4 |เอกสารเบิกจ่าย</p>
            <div class="d-flex flex-column ml-5 text-secondary" >
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
        <div class="card cursor-pointer text-primary">
            <p class="fw-bold mb-3">5 |Receive and Damage</p>
            <div class="d-flex flex-column ml-5 text-secondary" >
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>สถานะ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
                <div class="d-flex flex-row justify-content-between" style="max-width: 234px;">
                    <span>อัปเดตเมื่อ</span>
                    <span>ยังไม่มีการอัปเดต</span>
                </div>
            </div>
        </div>
</div>