<div class="container">
    <div class="my-5">
        <div class="neutral-08 fw-bold fs-4 my-3">
            บริหารสัญญา
        </div>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb fs-6">
                <li class="breadcrumb-item"><a class="neutral-06"
                       routerLink="">ตรวจรับงาน</a></li>
                <li class="breadcrumb-item"><a class="neutral-06"
                       routerLink="">สระบุรี 1</a></li>
                <li class="breadcrumb-item active fw-bolder"
                    aria-current="page">Receive and Damage</li>
            </ol>
        </nav>
    </div>


    <div class="row">
        <div class="col-sm-12 col-md-4">
            <div class="card  ">
                <div class="">
                    <p class="fs-5 fw-bold mb-3 border-radius-5">รายการทั้งหมด</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="text-start ">50 รายการ</p>
                    </div>
                    <div>
                        <p class="text-start">รับของครบ 1 รายการ</p>
                        <p class="text-start">ยังไม่ครบ 49 รายการ</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-12 col-md-4">
            <div class="card  ">
                <div class="">
                    <p class="fs-5 fw-bold mb-3 border-radius-5">รายการทั้งหมด</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="text-start ">50 รายการ</p>
                    </div>
                    <div>
                        <p class="text-start">รับของครบ 1 รายการ</p>
                        <p class="text-start">ยังไม่ครบ 49 รายการ</p>
                    </div>
                </div>
            </div>
        </div>


        <div class="col-sm-12 col-md-4">
            <div class="card  ">
                <div class="">
                    <p class="fs-5 fw-bold mb-3 border-radius-5">รายการทั้งหมด</p>
                </div>
                <div class="d-flex justify-content-between">
                    <div>
                        <p class="text-start ">50 รายการ</p>
                    </div>
                    <div>
                        <p class="text-start">รับของครบ 1 รายการ</p>
                        <p class="text-start">ยังไม่ครบ 49 รายการ</p>
                    </div>
                </div>
            </div>
        </div>


    </div>






</div>