::ng-deep .button-modal__background-none button {
    background: none;
    border: none;
}

:host ::ng-deep .button-modal__background-none button:enabled:hover {
    background: none;
    border: none;
}

:host ::ng-deep .button-modal__background-none button:enabled:active {
    background: none;
    border: none;
}

::ng-deep .modal-footer-button__background-none button {
    color: red;
    background-color: white;
    border: 1px solid red;
    width: 100%;
}

::ng-deep .modal-footer-button__background-none button span {
    font-size: 1.25rem;
    font-weight: bold;
}

:host ::ng-deep .modal-footer-button__background-none button:enabled:hover {
    background-color: white;
    border: 1px solid red;
    color: red;
}

::ng-deep .modal-footer-button__background-red button {
    color: #fff;
    background-color: red;
    border: 1px solid red;
    width: 100%;
}

::ng-deep .modal-footer-button__background-red button span {
    font-size: 1.25rem;
    font-weight: bold;
}

:host ::ng-deep .modal-footer-button__background-red button:enabled:hover {
    background-color: red;
    border: 1px solid red;
    color: #fff;
}

::ng-deep .modal-upload__background-color button {
    background-color: #7718bc;
    border: #7718bc;
    width: 50%;
    margin-top: 1.25rem;
}

::ng-deep .modal-upload__background-color button:enabled:hover {
    background-color: #7718bc;
    border: #7718bc;
}
