<div class="container">
  <div class="my-5">
    <div class="neutral-08 fw-bold fs-4 my-3">บริหารสัญญา</div>
    <p-breadcrumb class="max-w-full" [model]="items"
      [style]="{background:'none',border:'none',padding:'0'}"></p-breadcrumb>
  </div>
  <div style="display: inline-flex; align-items: flex-end; gap: 40px;">
    <app-card [title]="'รายการทั้งหมด'" [amount1]="allAmount" [amount2]="allComplete" [amount3]="allIncomplate"
      [detail1]="'รับของครบ'" [detail2]="'ยังไม่ครบ'" [icon1]="'assets/svg/check_circle_black.svg'"
      [icon2]="'assets/svg/error_black.svg'" [routerLink]="['../']"></app-card>
    <app-card [title]="'รายการที่ตรวจสอบแล้ว'" [bgcolor]="'#7718bc'" [textcolor]="'#fcfcfc'" [amount1]="checkAmount"
      [amount2]="checkGood" [amount3]="checkWaste" [detail1]="'ดี'" [detail2]="'พบปัญหา'"
      [icon1]="'assets/svg/thumb_up_white.svg'" [icon2]="'assets/svg/assignment_late_white.svg'"></app-card>
    <app-card [title]="'รายการอยู่ระหว่างดำเนินการ'" [amount1]="progressAmount" [amount2]="0" [amount3]="0"
      [display]="'none'" [routerLink]="['../progress']"></app-card>
  </div>
  <div class="container">
    <div class="row my-5">
      <div class="flex justify-content-end">
        <p-button label="พิมพ์เอกสาร" styleClass="p-button-raised p-button-text" icon="pi pi-print"
          [disabled]="!selectedReports || !selectedReports.length" (click)="printSelectedReports()"></p-button>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row my-5">
      <div>
        <p-table [value]="data" [rowHover]="true" [loading]="loading" [lazy]="true" (onSort)="onSortColumn($event)"
          [tableStyle]="{ 'min-width': '50rem' }" [(selection)]="selectedReports">
          <ng-template pTemplate="header">
            <tr>
              <th></th>
              <th pSortableColumn="sortRowNo">
                <div class="flex justify-content-between align-items-center">
                  ลำดับ
                  <p-sortIcon field="sortRowNo"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="sortInvNo">
                <div class="flex justify-content-between align-items-center">
                  เลขที่ใบส่ง
                  <p-sortIcon field="sortInvNo"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="sortItemName">
                <div class="flex justify-content-between align-items-center">
                  รายการ
                  <p-sortIcon field="sortItemName"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="sortArrival">
                <div class="flex justify-content-between align-items-center">
                  วันที่ส่งถึงหน้างาน
                  <p-sortIcon field="sortArrival"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="sortInspection">
                <div class="flex justify-content-between align-items-center">
                  วันที่ตรวจสอบ
                  <p-sortIcon field="sortInspection"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="sortAmount">
                <div class="flex justify-content-between align-items-center">
                  จำนวนที่ส่งมอบ
                  <p-sortIcon field="sortAmount"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="sortGood">
                <div class="flex justify-content-between align-items-center">
                  สภาพดี
                  <p-sortIcon field="sortGood"></p-sortIcon>
                </div>
              </th>
              <th pSortableColumn="sortWaste">
                <div class="flex justify-content-between align-items-center">
                  พบปัญหา
                  <p-sortIcon field="sortWaste"></p-sortIcon>
                </div>
              </th>
              <th></th>
            </tr>
            <tr>
              <th style="width: 4rem">
                <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
              </th>
              <th>
                <span class="p-input-icon-right">
                  <input #inputRowNo type="text" pInputText (keyup)="onFilterColumn('searchRowNo', $event)"
                    placeholder="Search" style="width: 5rem" />
                  <i *ngIf="inputRowNo.value" class="pi pi-times cursor-pointer"
                    (click)="inputRowNo.value = '';onClearFilter('searchRowNo')"></i>
                </span>
              </th>
              <th>
                <span class="p-input-icon-right">
                  <input #inputInvNo type="text" pInputText (keyup)="onFilterColumn('searchInvNo', $event)"
                    placeholder="Search" style="width: 5rem" />
                  <i *ngIf="inputInvNo.value" class="pi pi-times cursor-pointer"
                    (click)="inputInvNo.value = '';onClearFilter('searchInvNo')"></i>
                </span>
              </th>
              <th>
                <span class="p-input-icon-right">
                  <input #inputItemName type="text" pInputText (keyup)="onFilterColumn('searchItemName', $event)"
                    placeholder="Search" style="width: 5rem" />
                  <i *ngIf="inputItemName.value" class="pi pi-times cursor-pointer"
                    (click)="inputItemName.value = '';onClearFilter('searchItemName')"></i>
                </span>
              </th>
              <th>
                <span class="p-input-icon-right">
                  <input #inputArrival type="text" pInputText (keyup)="onFilterColumn('searchArrival', $event)"
                    placeholder="Search" style="width: 5rem" />
                  <i *ngIf="inputArrival.value" class="pi pi-times cursor-pointer"
                    (click)="inputArrival.value = '';onClearFilter('searchArrival')"></i>
                </span>
              </th>
              <th>
                <span class="p-input-icon-right">
                  <input #inputInspection type="text" pInputText (keyup)="onFilterColumn('searchInspection', $event)"
                    placeholder="Search" style="width: 5rem" />
                  <i *ngIf="inputInspection.value" class="pi pi-times cursor-pointer"
                    (click)="inputInspection.value = '';onClearFilter('searchInspection')"></i>
                </span>
              </th>
              <th>
                <span class="p-input-icon-right">
                  <input #inputAmount type="text" pInputText (keyup)="onFilterColumn('searchAmount', $event)"
                    placeholder="Search" style="width: 5rem" />
                  <i *ngIf="inputAmount.value" class="pi pi-times cursor-pointer"
                    (click)="inputAmount.value = '';onClearFilter('searchAmount')"></i>
                </span>
              </th>
              <th>
                <span class="p-input-icon-right">
                  <input #inputGood type="text" pInputText (keyup)="onFilterColumn('searchGood', $event)"
                    placeholder="Search" style="width: 5rem" />
                  <i *ngIf="inputGood.value" class="pi pi-times cursor-pointer"
                    (click)="inputGood.value = '';onClearFilter('searchGood')"></i>
                </span>
              </th>
              <th>
                <span class="p-input-icon-right">
                  <input #inputWaste type="text" pInputText (keyup)="onFilterColumn('searchWaste', $event)"
                    placeholder="Search" style="width: 5rem" />
                  <i *ngIf="inputWaste.value" class="pi pi-times cursor-pointer"
                    (click)="inputWaste.value = '';onClearFilter('searchWaste')"></i>
                </span>
              </th>
              <th></th>
            </tr>
          </ng-template>
          <ng-template pTemplate="body" let-report>
            <tr>
              <td>
                <p-tableCheckbox [value]="report"></p-tableCheckbox>
              </td>
              <td>{{ report.seq }}</td>
              <td>{{ report.invNo }}</td>
              <td>{{ report.itemName }}</td>
              <td>{{ report.arrival }}</td>
              <td>{{ report.inspection }}</td>
              <td>{{ report.amount }}</td>
              <td>{{ report.good }}</td>
              <td>{{ report.waste }}</td>
              <td>
                <p-button icon="pi pi-eye" styleClass="p-button-rounded p-button-text" (click)="reportPreview(report.id)"></p-button>
              </td>
            </tr>
          </ng-template>
          <ng-template pTemplate="emptymessage">
            <tr>
              <td colspan="7">ไม่พบข้อมูล</td>
            </tr>
          </ng-template>
          <ng-template pTemplate="loadingbody">
            <tr>
              <td colspan="7">กำลังโหลดข้อมูล....</td>
            </tr>
          </ng-template>
        </p-table>
        <div class="card flex justify-content-center">
          <p-paginator (onPageChange)="onPageChange($event)" [first]="first" [rows]="rows" [totalRecords]="totalRecords"
            [rowsPerPageOptions]="[5, 10, 50]"></p-paginator>
        </div>
      </div>
    </div>
  </div>
</div>
<p-dialog [(visible)]="display" [modal]="true" [style]="{width: '80vw'}" [maximizable]="false" [draggable]="false"
  [resizable]="false" (onHide)="onHide()">
  <div class="pdf-container">
    <pdf-viewer [src]="src" [rotation]="0" [original-size]="false" [show-all]="true"
      style="width: 100%; height: 600px;"></pdf-viewer>
  </div>
</p-dialog>
<p-blockUI [blocked]="blockedDocument">
  <p-progressSpinner styleClass="w-8rem h-8rem" strokeWidth="8" fill="var(--surface-ground)" animationDuration=".5s"></p-progressSpinner>
</p-blockUI>