:host ::ng-deep .p-dropdown {
    width: 100%;
}

.table-header_background-none {
    font-size: 1rem;
}

.table-header_background-none th {
    background: none !important;
    text-align: center;
    color: none;
    font-weight: bold;
    font-size: 1rem;
}

.header-button__custom-style {
    width: 10rem;
    background-color: #fff;
    border-radius: 0.5rem;
    border-color: #7718bc;
    box-shadow: none;
    color: #7718bc;
    font-weight: bold;
    font-size: 1rem;
}

.button-height {
    padding: 8.5px;
    border-width: 2px;
}

.button-height.button-height__overline-style:hover {
    padding: 8.5px;
    border-width: 2px;
}

.p-paginat__line-height {
    padding-top: 1rem;
    font-size: 1rem;
}

::ng-deep
    .p-tabmenu
    .p-tabmenu-nav
    .p-tabmenuitem.p-highlight
    .p-menuitem-link {
    color: #7718bc;
    border-color: #7718bc;
}

::ng-deep
    .p-tabmenu
    .p-tabmenu-nav
    .p-tabmenuitem
    .p-menuitem-link:not(.p-disabled):focus {
    box-shadow: inset 0 0 0 1px #7718bc;
}

::ng-deep .p-paginator .p-paginator-pages .p-paginator-page.p-highlight {
    border-color: #7718bc;
    color: #7718bc;
}

.p-button.p-button-icon-only.p-button-rounded {
    color: #7718bc;
}

.footer-indicator__color-change {
    font-size: 14px;
    color: #4b4b4b;
    margin-left: 1rem;
    margin-right: 1rem;
}

.disabled {
    display: none;
}
