<div class="grid">
    <div class="col-12">
        <div class="card mb-0">
            <div>
                <h3>จัดการงานก่อสร้าง</h3>
            </div>
            <div>
                <span class="block text-600 font-medium text-lg mb-3">
                    จัดการงานก่อสร้าง
                </span>
            </div>
            <div class="flex justify-content-between">
                <div>
                    <h5>งานทั้งหมด</h5>
                </div>
                <div>
                    <button
                        pButton
                        label="เพิ่มงานก่อสร้าง"
                        [routerLink]="['/job-add']"
                        class="p-button-primary mb-2"
                    ></button>
                </div>
            </div>
            <div class="container">
                <p-table
                    *ngIf="jobsList$ | async as newJobsList"
                    #dt1
                    [value]="newJobsList.data"
                    dataKey="id"
                    [rows]="newJobsList.limit"
                    [rowHover]="true"
                    [paginator]="false"
                    [globalFilterFields]="['jobsname']"
                    styleClass="p-datatable-gridlines"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th>
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    หมายเลข WBS
                                </div>
                            </th>
                            <th>
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    ชื่องาน
                                </div>
                            </th>
                            <th>
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    ช่างผู้ควบคุมงาน
                                </div>
                            </th>
                            <th>
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    กรรมการ
                                </div>
                            </th>
                            <th>
                                <div
                                    class="flex justify-content-between align-items-center"
                                >
                                    สถานะ
                                </div>
                            </th>
                            <th rowspan="2"></th>
                        </tr>
                        <tr>
                            <th>
                                <div class="flex align-items-center gap-2">
                                    <input
                                        class="w-10"
                                        pInputText
                                        placeholder="ค้นหาด้วย WBS"
                                        [ngModel]="debounceWbs$ | async"
                                        (ngModelChange)="onFilterWbs($event)"
                                    />
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-times"
                                        class="p-button-rounded p-button-text p-button-plain"
                                        (click)="onClearWbs()"
                                    ></button>
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center gap-2">
                                    <input
                                        class="w-10"
                                        type="text"
                                        pInputText
                                        placeholder="ค้นหาด้วย ชื่องาน"
                                        [ngModel]="debounceJobName$ | async"
                                        (ngModelChange)="
                                            onFilterJobName($event)
                                        "
                                    />
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-times"
                                        class="p-button-rounded p-button-text p-button-plain"
                                        (click)="onClearJobName()"
                                    ></button>
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center gap-2">
                                    <input
                                        class="w-10"
                                        type="text"
                                        pInputText
                                        placeholder="ค้นหาด้วย ช่างผู้ควบคุมงาน"
                                        [ngModel]="debounceSupervisor$ | async"
                                        (ngModelChange)="
                                            onFilterSupervisor($event)
                                        "
                                    />
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-times"
                                        class="p-button-rounded p-button-text p-button-plain"
                                        (click)="onClearSupervisor()"
                                    ></button>
                                </div>
                            </th>
                            <th>
                                <div class="flex align-items-center gap-2">
                                    <input
                                        class="w-10"
                                        type="text"
                                        pInputText
                                        placeholder="ค้นหาด้วย กรรมการ"
                                        [ngModel]="debounceCommittees$ | async"
                                        (ngModelChange)="
                                            onFilterCommittees($event)
                                        "
                                    />
                                    <button
                                        pButton
                                        pRipple
                                        type="button"
                                        icon="pi pi-times"
                                        class="p-button-rounded p-button-text p-button-plain"
                                        (click)="onClearCommittes()"
                                    ></button>
                                </div>
                            </th>
                            <th>
                                <p-dropdown
                                    *ngIf="
                                        jobPageOption$ | async as jobPageOption
                                    "
                                    [ngModel]="jobPageOption.jobStatus"
                                    [options]="jobStatusList"
                                    (ngModelChange)="onFilterJobStatus($event)"
                                    placeholder="ทั้งหมด"
                                    [showClear]="true"
                                >
                                    <ng-template let-option pTemplate="item">
                                        <span
                                            [class]="
                                                'customer-badge status-' +
                                                option.value
                                            "
                                        >
                                            {{ option.label }}
                                        </span>
                                    </ng-template>
                                </p-dropdown>
                            </th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-jobsdata>
                        <tr (click)="routesToJobAreaList(jobsdata.id)">
                            <td>{{ jobsdata.wbs }}</td>
                            <td>
                                {{ jobsdata.jobName }}
                            </td>
                            <td>
                                {{ jobsdata.supervisor.firstName }}
                            </td>
                            <td>
                                {{ jobsdata.chairman.firstName }}
                            </td>
                            <td>
                                {{ jobsdata.jobStatus }}
                            </td>
                            <td>
                                <div class="flex gap-2">
                                    <i class="pi pi-search-plus"></i>
                                    <i class="pi pi-pencil"></i>
                                </div>
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="emptymessage">
                        <tr>
                            <td colspan="7">No jobsdatas found.</td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="loadingbody">
                        <tr>
                            <td colspan="7">
                                Loading jobsdatas data. Please wait.
                            </td>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="summary">
                        <div class="flex justify-content-center mt-5">
                            <p
                                class="flex align-items-center ml-3 p-paginat__line-height"
                            >
                                แสดงจำนวนเสา
                            </p>

                            <p-paginator
                                *ngIf="{
                                    option: jobPageOption$ | async,
                                    jobsList: jobsList$ | async
                                } as paginator"
                                (onPageChange)="paginate($event)"
                                [first]="
                                    paginator.option && paginator.option.page
                                        ? paginator.option.page
                                        : 0
                                "
                                [rows]="
                                    paginator.option && paginator.option.limit
                                        ? paginator.option.limit
                                        : 0
                                "
                                [totalRecords]="
                                    paginator.jobsList
                                        ? paginator.jobsList.total
                                        : 0
                                "
                                [rowsPerPageOptions]="[10, 20, 50, 100]"
                            >
                            </p-paginator>
                        </div>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </div>
</div>
