<div class="layout-topbar">
    <div class="flex align-items-center gap-4 px-5 py-4">
        <a class="flex mx-2" routerLink="">
            <img src="assets/img/CPM.png" alt="logo">
        </a>
        <div class="flex flex-column">
            <span class="font-bold">
                PEA Capital Project Management
            </span>
            <span class="text-md">
                ระบบบริหารโครงการก่อสร้างระบบไฟฟ้า กฟภ.
            </span>
        </div>
        <div class="flex-fill"></div>
        <div class="d-flex align-items-center">
            <button pButton pRipple type="button" class="p-button-rounded p-button-secondary p-button-text">
                <i class="pi pi-bell p-text-secondary" pBadge style="font-size: 1.5rem" [value]="demoNoti"
                    severity="danger"></i>
            </button>
            <div class="vl"></div>
            <button pButton pRipple type="button" icon="pi pi-user"
                class="p-button-rounded p-button-secondary p-button-outlined">
            </button>
        </div>
    </div>
</div>
