@font-face {
  font-family: "NotoSansThai";
  src: local("NotoSansThai"),
      url(./assets/fonts/NotoSansThai/NotoSansThai-Regular.ttf)
          format("truetype");
}

body{
  font-family: "NotoSansThai";
}
