<div class="p-0 mt-3">
    <p class="font-bold text-2xl text-primary mb-4">บริหารสัญญา</p>
    <div class="flex flex-row align-items-center gap-1 text-xs md:text-base text-secondary mb-4">
        <span class="m-0 text-center">รายการอนุมัติเอกสาร</span><i class="pi pi-angle-right" style="font-size: 1rem"></i><span class="m-0">Recieve and Damage</span><i class="pi pi-angle-right" style="font-size: 1rem"></i><span class="m-0 font-bold">{{report.invoice.slice(0,20)}}</span><span *ngIf="report.invoice.length>20">...</span>
      </div>
    
      <div class="card">
        <div class="flex flex-row justify-content-between align-items-center">
            <p class="text-lg font-bold text-primary m-0"> รายละเอียด Receive and Damage </p>
            <button class="px-5 mx-3 p-button-outlined" pButton
                (click)="reportPreview()" icon="pi pi-eye" label="Preview เอกสาร"></button>
        </div>
        
    <hr class="my-4" />
    <div class="grid grid-nogutter justify-content-between">
      <div class="col-12 md:col-4">
        <p class="font-bold text-lg text-primary">อุปกรณ์ที่ส่งมอบ</p>
      </div>
      <div class="col-12 m-0 md:col-8">
        <p class="font-bold text-primary">{{ report.itemName }}</p>
      </div>
    </div>
    <hr class="my-4" />
    <div class="grid grid-nogutter justify-content-between relative">
      <div class="absolute top-0 right-0 -mt-2">
        <p-button *ngIf="role=='A'" icon="pi pi-pencil" styleClass="p-button-rounded p-button-text" (click)="editForm=true;subFormShow=1"></p-button>
      </div>
    <div class="grid grid-nogutter justify-content-between">
        <app-edit-report [(report)]="report" [subFormShow]="1" [role]="role"></app-edit-report>
      </div>
      <div class="col-12 md:col-4">
        <p class="font-bold text-primary mb-3 text-lg">รายละเอียดเบื้องต้น</p>
      </div>
      <div class="col-12 md:col-8 md:mt-1">
        <div class="grid grid-nogutter justify-content-between md:mb-4">
          <div class="col-12 sm:col-6">
            <p class="text-secondary text-sm mb-0 md:mb-2">
              วันที่ส่งของถึงหน้างาน
            </p>
            <p class="font-bold text-primary mb-3">{{ report.arrival }}</p>
          </div>
          <div class="col-12 mb-3 sm:col-6">
            <p class="text-secondary text-sm mb-0 md:mb-2">วันที่ตรวจสอบ</p>
            <p class="font-bold text-primary ">
              {{ report.inspection }}
            </p>
          </div>
        </div>
        <div class="grid grid-nogutter my-0 justify-content-between">
          <div class="col-12 sm:col-6">
            <p class="text-secondary text-sm mb-0 md:mb-2">
              ชื่อผู้ควบคุมงานของบริษัท
            </p>
            <p class="font-bold text-primary">{{ report.taskMaster }}</p>
          </div>
        </div>
      </div>
      
    </div>
    <hr class="my-4" />
    <div class="grid grid-nogutter justify-content-between relative">
      <div class="absolute top-0 right-0 -mt-2">
        <p-button *ngIf="role=='A'" icon="pi pi-pencil" styleClass="p-button-rounded p-button-text" (click)="editForm=true;subFormShow=2"></p-button>

        <app-edit-report [(report)]="report" [subFormShow]="2" [role]="role"></app-edit-report>

      </div>
      </div>
      <div class="col-12 md:col-8 md:mt-1">
        <div class="grid grid-nogutter justify-content-between">
          <div class="md:col-12">
            <p class="text-secondary text-sm mb-0 md:mb-2">เลขที่ใบส่ง</p>
            <p class="font-bold text-primary">{{ report.invoice }}</p>
          </div>

          <div class="col-12 my-5">
            <div *ngFor="let d of doctype" class="mb-3">
              <p *ngIf="filteredAttachFiles(d.id)" class="text-secondary text-sm mb-2 ">{{ d.name }}</p>
              <div *ngFor="let af of file">
                <div class="grid grid-nogutter border-round-sm bg-light p-3 mb-1">
                  <div class="col-fixed">
                    <img class="hidden sm:block" src="./../../../assets/svg/File-pdf-document.svg" width="48px" height="48px" />
                  </div>
                  <div class="col ml-3">
                    <p class="font-bold">{{ af.name }}</p>
                    <p class="text-xs">ขนาดไฟล์ {{ af.size }} {{ af.unit }}</p>
                  </div>
                  <div
                    class="col-fixed align-self-center"
                    style="width: 50px"
                  >
                    <p-button
                      icon="pi pi-ellipsis-v"
                      styleClass="p-button-rounded p-button-text"
                      (click)="
                        ShowMenuManage(af.id, af.name);
                        menu.toggle($event)
                      "
                    ></p-button>
                    <p-menu
                      #menu
                      [model]="manageMenu"
                      [popup]="true"
                      appendTo="body"
                    ></p-menu>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    
    </div>
    <hr class="mb-4" />
    <div class="grid grid-nogutter justify-content-between relative">
      <div class="absolute top-0 right-0 -mt-2">
        <p-button *ngIf="role=='A'" icon="pi pi-pencil" styleClass="p-button-rounded p-button-text" (click)="editForm=true;subFormShow=3"></p-button>
        <app-edit-report [(report)]="report" [subFormShow]="3" [role]="role"></app-edit-report>
      </div>
      <div class="col-12 md:col-4 text-lg">
        <p class="font-bold">รายละเอียดอุปกรณ์ไฟฟ้าที่ส่ง</p>
      </div>

      <div class="col-12 md:col-8 md:mt-1">
        <div class="grid grid-nogutter mt-3 md:mt-0 justify-content-between">
          <div class="col-12 sm:col-6">
            <p class="mb-0 text-secondary text-sm md:mb-2">จำนวนอุปกรณ์ที่ต้องการส่งมอบ</p>
            <p class="font-bold mb-3">
              {{ report.quantity }} {{ report.itemUnit }}
            </p>
          </div>
          <div class="col-12 sm:col-6">
            <p class="mb-0 text-secondary text-sm md:mb-2">ประเทศผู้ผลิต</p>
            <p class="font-bold md:mb-3">{{ report.country }}</p>
          </div>
        </div>
        <div class="grid grid-nogutter my-3 justify-content-between">
          <div class="col-12 sm:col-6">
            <p class="mb-0 text-secondary text-sm md:mb-2">ยี่ห้อ (Brand)</p>
            <p class="font-bold mb-3">{{ report.brand }}</p>
          </div>
          <div class="col-12 sm:col-6">
            <p class="mb-0 text-secondary text-sm md:mb-2">รุ่น</p>
            <p class="font-bold md:mb-3">{{ report.model }}</p>
          </div>
        </div>
        <div class="grid grid-nogutter my-3 justify-content-between">
          <div class="col-12 sm:col-6">
            <p class="mb-0 text-secondary text-sm md:mb-2">Serial Number</p>
            <p class="font-bold mb-3">{{ report.serial }}</p>
          </div>
          <div class="col-12 sm:col-6">
            <p class="mb-0 text-secondary text-sm md:mb-2">PEA No.</p>
            <p class="font-bold mb-3">{{ report.peano }}</p>
          </div>
        </div>
      </div>
    </div>
</div>
    <p-dialog [(visible)]="display" [modal]="true" [style]="{width: '80vw'}" [maximizable]="false" [draggable]="false"
        [resizable]="false" (onHide)="onHide()">
        <!-- <div id="outerContainer"> -->
        <div class="pdf-container">
            <pdf-viewer [src]="src" [rotation]="0" [original-size]="false" [show-all]="true"
                style="width: 100%; height: 600px;"></pdf-viewer>
        </div>
        <!-- </div> -->
    </p-dialog>
    <app-edit-report [(report)]="report" [subFormShow]="subFormShow" [role]="role" [(editForm)] = "editForm"></app-edit-report>







