.card {
    box-shadow: 0px 4px 16px 0px rgba(192, 181, 205, 0.24);
    border: none;
    background-color: #FFF;
    border-radius: 8px;
    padding: 24px;
  }
  
  .text-primary {
    color: #454545 !important;
  }
  
  .text-secondary {
    color: #7f7f7f !important;
  }
  
  .text-thirdary {
    color: #6a6a6a !important;
  }
  
  .text-pea{
    color: #7718BC
  }
  
  .text-red {
    text-align: center;
    font-size: 0.75rem;
    color: #970502;
    border-radius: 12px;
    background: #fff5f5;
    padding: 4px 16px;
    margin: 0;
  }
  
  .text-green {
    text-align: center;
    font-size: 0.75rem;
    color: #107f49;
    border-radius: 12px;
    background: #f2fdf6;
    padding: 4px 16px;
    margin: 0;
  }
  
  .bg-light{
    background-color: #F7F7F7 !important;
  }
  